* {
  box-sizing: border-box;
}

body {
  font-family: Tahoma, sanserif;
  font-weight: normal;
}

/* Font styles for D3 text elements */
.normal {
  font-size: 25px;
}

.small-title {
  font-size: 25px;
  font-weight: bold;
}

.large-title {
  font-size: 30px;
  font-weight: bold;
 }

a:hover {
  text-decoration:none;
}

.row .glyphicon { float:right; }

.clickable { cursor:pointer; }
